* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    position: relative;
    border: 5px solid steelblue;
    width: 1000px;
    height: 600px;
    background-color: deepskyblue;
    overflow: hidden;
}

.pontuacao {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    font-family: Pixel;
    font-size: 40px;
}

.passaro {
    position: absolute;
    right: calc(50% - 10px);
    top: 40%;
    width: 50px;
}

.parDeBarreiras {
    position: absolute;
    top: 0;
    display: flex;
    width: 180px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.barreira .corpo {
    width: 110px;
    height: 200px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: black;
    background: linear-gradient(90deg, #639301, #A5E82E); 
}

.barreira .borda {
    border: 2px solid black;
    width: 130px;
    height: 30px;
    background: linear-gradient(90deg, #639301, #A5E82E);      
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}